<p id="notice"><%= notice %></p>

<h1>Listing Equipment</h1>

<table cellspacing='0' cellpading='0'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.price %></td>
        <td><%= equipment.description %></td>
        <td><%= link_to 'Show', equipment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
